/* Styles for the header */
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff00; 
  z-index: 999;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: white; 
  font-weight: bold; 
}

.nav-links a:hover{
cursor: pointer;
color: rgb(252, 200, 57);
}

.nav-links a.active {
  color: rgb(252, 200, 57)
}

.nav-links a.active.about ~ li:not(.about) a {
  color: black;
}

.nav-links a.active.about ~ li.home a {
  color: black;
}

.nav-links a.active.about ~ li.projects a {
  color: black;
}

