/* @import url('https://fonts.cdnfonts.com/css/phosphorus-bromide'); */

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.437); 
  z-index: 999;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav-links li {
  margin: 0 30px;
}

.nav-links a {
  text-decoration: none;
  color: white; 
  font-weight: bolder; 
  font-size: 115%;
}

.nav-links a:hover{
cursor: pointer;
color: rgb(254,213,46);
}

.nav-links a.active {
  color: rgb(254,213,46);
}


