/* ---------------- Animations ---------------- */

@keyframes BackgroundAnimation {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 0%;
  }
}

@keyframes rollout {
  0% { transform: translateX(100px); }
  100% { transform: none; }
}

/* ---------------- Project Component General ---------------- */
.projects {
  background: linear-gradient(120deg, #fc48486c, #12011a, #044f376c);
  background-size: 200% 200%;
  animation: BackgroundAnimation 20s ease infinite;
}

.projects-container {
  display: flex;
  height: 90vh;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 4% 2%;
}

.project-details {
  animation: rollout 0.5s ease-in-out;
}

.fade-enter {
  opacity: 0.4;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-in-out; /* Define transition properties */
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease-in-out; /* Define transition properties */
}
